.thread__reacts {
  background: rgba(255, 255, 255, 0.05);
  padding: 5px 10px;
  border-radius: 4px;
  position: relative;
}
.thread__reacts-inner {
  display: flex;
  align-items: center;
  overflow-x: auto;
  max-width: 200px;
}
.thread__react {
  cursor: pointer;
  display: flex;
  align-items: center;
  line-height: 0;
  margin-right: 10px;
}
.thread__react-more {
  cursor: pointer;
}
.react__count {
  color: rgba(255, 255, 255, 0.5);
  margin-left: 2.5px;
  font-size: 14px;
}
.react__smile {
  cursor: pointer;
  font-size: 18px;
}

.thread__react-more-btn {
  display: block;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

em-emoji-picker {
  position: absolute;
  right: 0px;
  height: 50px;
  z-index: 5;
  bottom: 55px;
  width: 290px;
  resize: horizontal;
  overflow: auto;
}

@media (max-width: 768px) {
  .thread__reacts {
    padding: 2.5px 5px;
  }
  .react__smile {
    font-size: 16px;
  }
}
