.comments {
  padding: 15px;
}
.comments__form {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
}
#comment-user {
  max-width: 300px;
}
#comment-text {
  resize: none;
  margin-bottom: 10px;
}
.comments__send-button {
  width: 150px;
}

/* MESSAGE */

.messages__item {
  margin-bottom: 20px;
  border: 1px solid burlywood;
  border-radius: 10px;
  padding: 15px;
}
.message__text {
  word-break: break-word;
}
.message__name {
  font-weight: 600;
  margin-bottom: 5px;
}
.message__date {
  margin-top: 5px;
  font-size: 14px;
}
