.full-positive {
  position: relative;
}
.full-positive__img {
  width: 100%;
  display: block;
  object-fit: cover;
  height: 100vh;
  height: 100dvh;
  height: max(100vh, 100dvh);
}
.full-positive__text {
  margin-top: 25px;
  margin-bottom: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  font-size: 50px;
}
.full-positive__hate-button {
  width: 130px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 0;
  font-size: 14px;
}
.full-positive__smile {
  color: tomato;
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  font-size: 150px;
  width: 1px;
  height: 1px;
  z-index: 1;
  animation: smile 1s linear infinite, colorChange 1s linear infinite;
}

@keyframes smile {
  0% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes colorChange {
  0% {
    color: blue;
  }
  25% {
    color: orange;
  }
  50% {
    color: yellow;
  }
  75% {
    color: black;
  }
  100% {
    color: red;
  }
}
