.comments {
  padding: 15px;
}
.comments__form {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 15px 20px 15px 15px;
  background: var(--color-card1);
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.3);

  /* position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
 */
  height: 305px;
}
/* 
.comments__form_hide {
  bottom: -270px;
  padding-top: 40px;
} */
.comment__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  gap: 15px;
}
#comment-user {
  max-width: 180px;
  background: var(--color-card2);
  padding: 10px;
}
#comment-text {
  resize: none;
  overflow: hidden;
  width: 100%;
  background: var(--color-card2);
  padding: 10px;
}
.comments__send-button {
  /* width: 80px; */
  background: #5c67cf;
  padding: 10px 15px;
}

.comments__screens {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 5px;
}

.comments__screen {
  max-height: 100px;
  object-fit: contain;
  border: 1px solid burlywood;
  border-radius: 5px;
}

/* MESSAGE */

.messages__item {
  margin-bottom: 20px;
  border: 1px solid burlywood;
  border-radius: 10px;
  padding: 15px;
}
.message__text {
  word-break: break-word;
  margin-bottom: 5px;
}
.message__name {
  font-weight: 600;
  margin-bottom: 5px;
}
.message__date {
  margin-top: 5px;
  font-size: 14px;
}

.message__files {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.comments__messages {
  display: flex;
  flex-direction: column-reverse;
}
.message__img {
  width: 100%;
  max-width: 320px;
  border-radius: 5px;
  object-fit: contain;
  max-height: 100px;
  box-shadow: 0 0 2px 0 rgb(255, 255, 255, 0.3);
}

.comment__fix {
  display: flex;
  width: 100%;
  align-items: flex-end;
  position: relative;
}

.comment__pin {
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 5px;
}

@media (max-width: 768px) {
  #comment-user {
    height: 30px;
    font-size: 16px;
  }
  .comments__send-button {
    padding: 2.5px 10px;
    font-size: 14px !important;
  }
}
