.intro {
  height: 100vh;
  height: 100dvh;
  height: max(100vh, 100dvh);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.detliar {
  font-size: min(20vw, 150px);
  color: rgba(225, 225, 225, 0.01);
  background-image: url('/imgs/image.png');
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  animation: headingAnimate 15s linear infinite;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}
.detliar__subtitle {
  text-shadow: 3px 3px 20px royalblue;
  text-transform: uppercase;
  font-size: min(7vw, 60px);
  margin-bottom: 20px;
}

.icon {
  width: 64px;
  height: 64px;
  transform: scale(1);
  transition: 0.4s;
}
.links {
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  gap: 50px;
  padding: 25px;
  background: #f3f3f3;
  border-radius: 25px;
}
.scroll-bottom {
  display: block;
  margin: 0 auto;
  height: 50px;
  /* bottom: 50px; */
  text-align: center;
  padding-bottom: 15px;
  position: absolute;
  animation: scroll-bottom 2s infinite;
}

.icon:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

@media (width < 768px) {
  .links {
    gap: 25px;
  }

  .icon {
    width: 44px;
    height: 44px;
  }
}

@keyframes headingAnimate {
  0%,
  100% {
    background-position: left top;
  }
  25% {
    background-position: right bottom;
  }
  50% {
    background-position: left bottom;
  }
  75% {
    background-position: right top;
  }
}

@keyframes scroll-bottom {
  0% {
    bottom: -10px;
  }
  50% {
    bottom: 10px;
  }
  100% {
    bottom: -10px;
  }
}
